<p id="notice"><%= notice %></p>

<h1>ツイート一覧</h1>

    <% @notes.each do |note| %>

        <p><%=image_for(note.user)%><%= link_to note.user.name, note.user%></p>
        <p><%= link_to note.content, note %></p>
        <p>-----------------------------------------------------------------------------</p>
        <br>

    <% end %>



