<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<%= link_to 'Back', notes_path %>

<%if current_user.id == @note.user.id%>
<%= link_to 'Edit', edit_note_path(@note) %>
<%end%>